<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="HmUserMapper">

	<sql id="selectUserFirst">
		SELECT USER_ID
	</sql>
	<sql id="selectUserWhere">
		WHERE USER_ID = #{userId }
	</sql>

	<select id="createIdCheck" parameterType="co.kr.wdt.hm.user.vo.HmUserVo" resultType="co.kr.wdt.hm.user.vo.HmUserVo">
		<include refid="selectUserFirst" />
			FROM TEST_USER
		<include refid="selectUserWhere" />

		/* co.kr.wdt.hm.user.dao.HmUserDao.createIdCheck */
	</select>

	<select id="createEmailCheck" parameterType="co.kr.wdt.hm.user.vo.HmUserVo" resultType="co.kr.wdt.hm.user.vo.HmUserVo">
		SELECT USER_EMAIL
			FROM TEST_USER
		WHERE USER_EMAIL = #{userEmail }

		/* co.kr.wdt.hm.user.dao.Hm.UserDao.createEmailCheck */
	</select>

	<insert id="userCreateSuccess" parameterType="co.kr.wdt.hm.user.vo.HmUserVo">
		<![CDATA[
			INSERT INTO TEST_USER
				(
					USER_ID
					, USER_PW
					, USER_NM
					, USER_EMAIL
					, USER_PHONE
					, ADDRESS_NUM
					, ADDRESS1
					, ADDRESS2
					, REG_DT
					, IP_ADDR
				) VALUES (
					#{userId}
					, #{userPw}
					, #{userNm}
					, #{userEmail}
					, #{userPhone}
					, #{addressNum}
					, #{address1}
					, #{address2}
					, TO_CHAR(SYSDATE, 'YYYY-MM-DD')
					, #{ipAddr}
				)
		]]>

		/* co.kr.wdt.hm.user.dao.HmUserDao.userCreateSuccess */
	</insert>

</mapper>