<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MenuMapper">

	<select id="selectLeftMenuList" resultType="co.kr.wdt.common.menu.vo.MenuVo">
		SELECT A.MENU_ID
			, A.MENU_NM
			, A.MENU_LEVEL
			, A.MENU_ORD
			, A.MENU_URL
			, A.UP_MENU_ID
			, A.TOP_YN
			, A.USE_YN
			, A.REG_ID
			, A.REG_DT
			, A.MOD_ID
			, A.MOD_DT
			, A.AUTHORITY
		FROM TB_CMM_MENU A WHERE 1=1
		AND A.USE_YN = 'Y'
		AND A.REG_ID = #{userId }
		AND A.MENU_ID LIKE (SELECT DISTINCT SUBSTR(A.MENU_ID, 0, 2) || 'LN' AS MENU_ID FROM TB_CMM_MENU A WHERE 1=1 AND A.USE_YN = 'Y' AND A.REG_ID = #{userId })||'%'
		AND A.AUTHORITY NOT IN (SELECT CASE WHEN AUTHORITY = 'USER' THEN 'ADMIN' ELSE 'TEST' END CASE FROM TEST_USER WHERE 1=1 AND USER_ID = #{userId } AND USE_YN = 'Y')
		ORDER BY A.MENU_ORD ASC

		/* kr.co.wdt.common.menu.dao.MenuDao.selectTopMenuList */
	</select>

</mapper>