<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="YjLoginMapper">

	<select id="selectUserLoginCheck" parameterType="co.kr.wdt.yj.login.vo.YjLoginVo" resultType="co.kr.wdt.yj.login.vo.YjLoginVo">
		SELECT	USER_ID
				, USER_PW
				, USER_NM
				, USER_EMAIL
				, USER_PHONE
				, ADDRESS_NUM
				, ADDRESS1
				, ADDRESS2
				, REG_DT
				, IP_ADDR
				, AUTHORITY
			FROM TEST_USER
		WHERE USER_ID = #{userId }

		/* co.kr.wdt.yj.login.dao.YjLoginDao.selectUserLoginCheck */
	</select>

</mapper>