<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="TestMapper">

	<insert id="insertMberSbscrb" parameterType="co.kr.wdt.yj.vo.YjVo">
		<![CDATA[
		INSERT INTO TEST_USER
			(
				USER_ID
				, USER_PW
				, USER_NM
				, USER_PHONE
				, REG_DT
			) VALUES (
				#{userId}
				, #{userPw}
				, #{userNm}
				, #{userPhone}
				, TO_CHAR(SYSDATE, 'YYYY-MM-DD HH24:MI:SS')
			)
		]]>
	</insert>

	<select id="mberSbscrb2" resultType="co.kr.wdt.yj.vo.YjVo">
		select * from test_user
	</select>

</mapper>