.content-box {
	font-size: small;
	font-weight: bold;
	color: gray;
	border: 1px solid gray;
	border-radius: 20px;
	width: 970px;
	height: 600px;
	margin: 20px;

}

.content-title2 {
	display: inline-block;
	font-size: 28px;
	padding: 20px 0 10px 420px;
	text-align: center;
	clear: left;
	color: #FFC2B;
}

input:-ms-input-placeholder {
	color: gray;
}

input::-webkit-input-placeholder {
	color: gray;
}

input::-moz-placeholder {
	color: gray;
}

.search-form {
	height: 40px;
	width: 450px;
	border: 1px solid gray;
	background: #ffffff;
	margin: 20px 0 10px 280px;
}

.select-box {
	font-size: 16px;
	width: 325px;
	padding: 10px;
	border: 0px;
	outline: none;
	float: left;
}

.search-button {
	width: 50px;
	height: 100%;
	border: 0px;
	background: gray;
	outline: none;
	float: right;
	color: #ffffff
}

.active {
	background-color: red;
}

.choose-button {
	background-color: white;
	border: 1px solid #194350;
	outline: none;
}

.changeBtn {
	background-color: #194350;
	color: white;
}

.order-button {
	float: left;
	margin: margin: 20px 0 10px 300px;
}

.space1 {
	float: left;
	margin: 20px 0 10px 650px;
}

select {
	width: 80px;
	padding: .5em .5em;
	border: 1px solid gray;
	border-radius: 0px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.listbox {
	width: 900px;
	margin-left: 34px;
	margin-top: 10px;
}

#tmTable {
	width: 100%;
	height: 100%;
}

#tmTable th {
	background-color: #777;
	color: #fff;
	text-align: center;
}

#tmTable tr:nth-child(odd) {
	background-color: #f2f2f2;
}

.paging-box {
	display: inline-block;
	padding: 0px 0px 10px 420px;
	text-align: center;
	font-size: 15px;
	margin-top: 15px;
	margin-right: 280px;
	float: left;
}

.write-div {
	margin-top: 15px;
}

#notice-write {
	background-color: #194350;
	color: white;
	border: 1px solid #194350;
	outline: none;
}
.btn{
	background-color: #26687C
}